#s-2ba16740-946a-47f6-ae91-8b78e230ad66 #s-base_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2ba16740-946a-47f6-ae91-8b78e230ad66 #s-Rectangle_34 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2ba16740-946a-47f6-ae91-8b78e230ad66 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2ba16740-946a-47f6-ae91-8b78e230ad66 #s-Label_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2ba16740-946a-47f6-ae91-8b78e230ad66 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2ba16740-946a-47f6-ae91-8b78e230ad66 #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2ba16740-946a-47f6-ae91-8b78e230ad66 #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2ba16740-946a-47f6-ae91-8b78e230ad66 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2ba16740-946a-47f6-ae91-8b78e230ad66 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2ba16740-946a-47f6-ae91-8b78e230ad66 #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2ba16740-946a-47f6-ae91-8b78e230ad66 #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2ba16740-946a-47f6-ae91-8b78e230ad66 #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2ba16740-946a-47f6-ae91-8b78e230ad66 #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2ba16740-946a-47f6-ae91-8b78e230ad66 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2ba16740-946a-47f6-ae91-8b78e230ad66 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2ba16740-946a-47f6-ae91-8b78e230ad66 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2ba16740-946a-47f6-ae91-8b78e230ad66 #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2ba16740-946a-47f6-ae91-8b78e230ad66 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2ba16740-946a-47f6-ae91-8b78e230ad66 #s-Button_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2ba16740-946a-47f6-ae91-8b78e230ad66 #s-Button_18 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2ba16740-946a-47f6-ae91-8b78e230ad66 #s-Callout {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-2ba16740-946a-47f6-ae91-8b78e230ad66 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}