#s-7d9a839c-862d-4d00-8ff2-94f18e019662 #s-base_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7d9a839c-862d-4d00-8ff2-94f18e019662 #s-Rectangle_34 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7d9a839c-862d-4d00-8ff2-94f18e019662 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7d9a839c-862d-4d00-8ff2-94f18e019662 #s-Label_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7d9a839c-862d-4d00-8ff2-94f18e019662 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7d9a839c-862d-4d00-8ff2-94f18e019662 #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7d9a839c-862d-4d00-8ff2-94f18e019662 #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7d9a839c-862d-4d00-8ff2-94f18e019662 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7d9a839c-862d-4d00-8ff2-94f18e019662 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7d9a839c-862d-4d00-8ff2-94f18e019662 #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7d9a839c-862d-4d00-8ff2-94f18e019662 #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7d9a839c-862d-4d00-8ff2-94f18e019662 #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7d9a839c-862d-4d00-8ff2-94f18e019662 #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7d9a839c-862d-4d00-8ff2-94f18e019662 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7d9a839c-862d-4d00-8ff2-94f18e019662 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7d9a839c-862d-4d00-8ff2-94f18e019662 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7d9a839c-862d-4d00-8ff2-94f18e019662 #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7d9a839c-862d-4d00-8ff2-94f18e019662 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7d9a839c-862d-4d00-8ff2-94f18e019662 #s-Button_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7d9a839c-862d-4d00-8ff2-94f18e019662 #s-Button_18 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7d9a839c-862d-4d00-8ff2-94f18e019662 #s-Callout {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-7d9a839c-862d-4d00-8ff2-94f18e019662 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}