#s-aa2170f6-010e-4781-bab3-c881a36785db #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-aa2170f6-010e-4781-bab3-c881a36785db #s-Label_32 {
  -ms-transform: rotate(0.0deg);
}
#s-aa2170f6-010e-4781-bab3-c881a36785db #s-Label_34 {
  -ms-transform: rotate(0.0deg);
}
#s-aa2170f6-010e-4781-bab3-c881a36785db #s-Panel_5 > .valign {
  vertical-align: top;
}
#s-aa2170f6-010e-4781-bab3-c881a36785db #s-Icons_6 {
  -ms-transform: rotate(0.0deg);
}
#s-aa2170f6-010e-4781-bab3-c881a36785db #s-Label_35 {
  -ms-transform: rotate(0.0deg);
}
#s-aa2170f6-010e-4781-bab3-c881a36785db #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-aa2170f6-010e-4781-bab3-c881a36785db #s-Panel_2 > .valign {
  vertical-align: top;
}
#s-aa2170f6-010e-4781-bab3-c881a36785db #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-aa2170f6-010e-4781-bab3-c881a36785db #s-Label_75 {
  -ms-transform: rotate(0.0deg);
}
#s-aa2170f6-010e-4781-bab3-c881a36785db #s-Label_76 {
  -ms-transform: rotate(0.0deg);
}
#s-aa2170f6-010e-4781-bab3-c881a36785db #s-Label_77 {
  -ms-transform: rotate(0.0deg);
}
#s-aa2170f6-010e-4781-bab3-c881a36785db #s-Line_14 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #E57373;
  -ms-transform: rotate(0.0deg);
}
#s-aa2170f6-010e-4781-bab3-c881a36785db #s-Line_14 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #E57373;
  -ms-transform: rotate(0.0deg);
}
#s-aa2170f6-010e-4781-bab3-c881a36785db #s-maps-background_1 {
  -ms-transform: rotate(0.0deg);
}
#s-aa2170f6-010e-4781-bab3-c881a36785db #s-Pinmap_1 {
  -ms-transform: rotate(0.0deg);
}
#s-aa2170f6-010e-4781-bab3-c881a36785db #s-Pinmap_2 {
  -ms-transform: rotate(0.0deg);
}
#s-aa2170f6-010e-4781-bab3-c881a36785db #s-Pinmap_3 {
  -ms-transform: rotate(0.0deg);
}
#s-aa2170f6-010e-4781-bab3-c881a36785db #s-Pinmap_4 {
  -ms-transform: rotate(0.0deg);
}
#s-aa2170f6-010e-4781-bab3-c881a36785db #s-Pinmap_5 {
  -ms-transform: rotate(0.0deg);
}
#s-aa2170f6-010e-4781-bab3-c881a36785db #s-Pinmap_6 {
  -ms-transform: rotate(0.0deg);
}
#s-aa2170f6-010e-4781-bab3-c881a36785db #s-Pinmap_7 {
  -ms-transform: rotate(0.0deg);
}
#s-aa2170f6-010e-4781-bab3-c881a36785db #s-Pinmap_8 {
  -ms-transform: rotate(0.0deg);
}
#s-aa2170f6-010e-4781-bab3-c881a36785db #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-aa2170f6-010e-4781-bab3-c881a36785db #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-aa2170f6-010e-4781-bab3-c881a36785db #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-aa2170f6-010e-4781-bab3-c881a36785db #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-aa2170f6-010e-4781-bab3-c881a36785db #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-aa2170f6-010e-4781-bab3-c881a36785db #s-Callout_4 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-aa2170f6-010e-4781-bab3-c881a36785db > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}