#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-home-screen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 641px;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Contactlist-header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 80px;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Contact-bar-color {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 80px;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Label_31 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 40px;
  padding-left: 73px;
  width: 287px;
  height: 40px;
  background-color: #E57373;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Label_31 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Label_31 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Label_31 span#rtr-s-Label_31_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Label_32 {
  position: absolute;
  top: 38px;
  left: 22px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 19.0pt;
  font-family: 'materialdesignjim-Regular',Arial;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Label_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Label_32 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'materialdesignjim-Regular',Arial;
  font-size: 19.0pt;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Label_32 span#rtr-s-Label_32_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'materialdesignjim-Regular',Arial;
  font-size: 19.0pt;
  line-height: 0px;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Label_34 {
  position: absolute;
  top: 38px;
  left: 325px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 19.0pt;
  font-family: 'materialdesignjim-Regular',Arial;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Label_34 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Label_34 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'materialdesignjim-Regular',Arial;
  font-size: 19.0pt;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Label_34 span#rtr-s-Label_34_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'materialdesignjim-Regular',Arial;
  font-size: 19.0pt;
  line-height: 0px;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Statusbar_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 20px;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Dynamic_Panel_4 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Panel_5 {
  width: 360px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Panel_5 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Panel_5 .verticalalign {
  vertical-align: top;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Icons_6 {
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Label_35 {
  padding-right: 5px;
  width: 41px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Label_35 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Label_35 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Label_35 span#rtr-s-Label_35_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-right: 8px;
  width: 352px;
  height: 20px;
  background-color: #000000;
  background-image: none;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Rectangle_2 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-inbox-dinamicpanel {
  position: absolute;
  top: 79px;
  left: 0px;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Panel_2 {
  width: 360px;
  height: 514px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: auto;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Rectangle_1 {
  width: 356px;
  height: 511px;
  background-color: #F3F3F3;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Tabs-bar-color {
  position: absolute;
  top: 79px;
  left: 0px;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Panel_30 {
  width: 360px;
  height: 49px;
  background-color: #E57373;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Panel_30 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Panel_30 .verticalalign {
  vertical-align: top;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Label_75 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 120px;
  height: 48px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Label_75 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Label_75 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Label_75 span#rtr-s-Label_75_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Label_76 {
  position: absolute;
  top: 0px;
  left: 120px;
  width: 120px;
  height: 48px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Label_76 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Label_76 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Label_76 span#rtr-s-Label_76_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Label_77 {
  position: absolute;
  top: 0px;
  left: 240px;
  width: 120px;
  height: 48px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Label_77 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Label_77 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Label_77 span#rtr-s-Label_77_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Line_14 {
  position: absolute;
  top: 47px;
  left: 0px;
  width: 120px;
  height: 3px;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #E57373;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-maps-background_1 {
  position: absolute;
  top: 128px;
  left: 0px;
  width: 360px;
  height: 513px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Pinmap_1 {
  position: absolute;
  top: 283px;
  left: 27px;
  width: 85px;
  height: 85px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Pinmap_2 {
  position: absolute;
  top: 197px;
  left: 139px;
  width: 85px;
  height: 85px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Pinmap_3 {
  position: absolute;
  top: 413px;
  left: 70px;
  width: 85px;
  height: 85px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Pinmap_4 {
  position: absolute;
  top: 355px;
  left: 137px;
  width: 85px;
  height: 85px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Pinmap_7 {
  position: absolute;
  top: 470px;
  left: 155px;
  width: 85px;
  height: 85px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Pinmap_8 {
  position: absolute;
  top: 255px;
  left: 193px;
  width: 85px;
  height: 85px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Softbar {
  position: absolute;
  top: 592px;
  left: 0px;
  width: 360px;
  height: 48px;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Rectangle_19 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 48px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Rectangle_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Rectangle_19 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Rectangle_19 span#rtr-s-Rectangle_19_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Image_8 {
  position: absolute;
  top: 9px;
  left: 263px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Image_23 {
  position: absolute;
  top: 9px;
  left: 161px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Image_24 {
  position: absolute;
  top: 9px;
  left: 63px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Image_12 > svg {
  width: 24px;
  height: 24px;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Image_12 {
  position: absolute;
  top: 39px;
  left: 288px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #shapewrapper-s-Callout_4 {
  display: none;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Callout_4 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 176px;
  height: 92px;
  position: absolute;
  overflow: hidden;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Callout_4 .content {
  width: 176px;
  height: 92px;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #s-Callout_4 {
  position: absolute;
  top: 164px;
  left: -197px;
  width: 198px;
  height: 92px;
  background-color: #21C0C0;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #shapewrapper-s-Callout_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #shapewrapper-s-Callout_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f #shapewrapper-s-Callout_4 span#rtr-s-Callout_4_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-b88a3bc9-e49d-4fd2-9512-e30813722e6f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}