#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_32 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Panel_5 > .valign {
  vertical-align: top;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Icons_6 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_35 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Image_133 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Image_134 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Image_135 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  filter: alpha(opacity=25);
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Ellipse_13 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Ellipse_14 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=45);
  filter: alpha(opacity=45);
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-tap-button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Image_113 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-button {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-tap-button {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Image_57 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  filter: alpha(opacity=25);
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-side-menu-header_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Two-line-item_27 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Two-line-item_28 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Two-line-item_30 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Image_79 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Two-line-item_12 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Image_58 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Two-line-item_20 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Image_74 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Two-line-item_21 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Two-line-item_31 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Two-line-item_32 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Two-line-item_33 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-notifications {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Two-line-item_34 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-settings {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Callout {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Callout_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Callout_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Callout_3 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Callout_4 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Callout_5 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Callout_6 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Callout_7 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Callout_8 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Callout_9 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}