#s-ecacbf47-3c45-4b64-aafd-a78ed5713f1b #s-base_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ecacbf47-3c45-4b64-aafd-a78ed5713f1b #s-Rectangle_34 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ecacbf47-3c45-4b64-aafd-a78ed5713f1b #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ecacbf47-3c45-4b64-aafd-a78ed5713f1b #s-Label_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ecacbf47-3c45-4b64-aafd-a78ed5713f1b #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ecacbf47-3c45-4b64-aafd-a78ed5713f1b #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ecacbf47-3c45-4b64-aafd-a78ed5713f1b #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ecacbf47-3c45-4b64-aafd-a78ed5713f1b #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ecacbf47-3c45-4b64-aafd-a78ed5713f1b #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ecacbf47-3c45-4b64-aafd-a78ed5713f1b #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ecacbf47-3c45-4b64-aafd-a78ed5713f1b #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ecacbf47-3c45-4b64-aafd-a78ed5713f1b #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ecacbf47-3c45-4b64-aafd-a78ed5713f1b #s-Button_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ecacbf47-3c45-4b64-aafd-a78ed5713f1b #s-Button_18 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ecacbf47-3c45-4b64-aafd-a78ed5713f1b #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ecacbf47-3c45-4b64-aafd-a78ed5713f1b #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ecacbf47-3c45-4b64-aafd-a78ed5713f1b #s-Callout {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ecacbf47-3c45-4b64-aafd-a78ed5713f1b #s-Callout_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ecacbf47-3c45-4b64-aafd-a78ed5713f1b #s-Callout_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ecacbf47-3c45-4b64-aafd-a78ed5713f1b #s-Callout_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ecacbf47-3c45-4b64-aafd-a78ed5713f1b #s-Callout_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ecacbf47-3c45-4b64-aafd-a78ed5713f1b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}